@model IEnumerable<GestionaleMulte.Models.Partial>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cognome)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.Punti)
        </th>
        <th></th>
    </tr>

@foreach (GestionaleMulte.Models.Partial item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cognome)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Punti)
        </td>
      
    </tr>
}

</table>
